
body{
font-size:15px;
}




#Produto_prod_descricao, #Produto_prod_preco_total{
font-size:25px;
font-weight:bolder;
height: 50px;
background-color:#F9872E;
color:#fff;
}

input[type=text], input:read-only, #Produto_prod_preco_venda, #Produto_prod_preco_subtotal,
#Pagamento_pag_total_compra,#Pagamento_pag_total_pago,#Pagamento_pag_saldo_restante,#Pagamento_pag_troco{
background-color:#F9872E;
color:#fff;
}

#Pagamento_pag_total_compra,#Pagamento_pag_total_pago,#Pagamento_pag_saldo_restante,#Pagamento_pag_troco{
    font-size:18px;
    height: 30px;
    color:#fff;
}