.container, .container-fluid {
    padding-left: 0.5rem !important;
}

hr.divisor{
  border: 3px dashed!important;
}

input, select{
  font-weight: bolder !important;
  /* color: #000 !important;
  background-color: inherit !important; */
  font-size: 2rem !important;
  border: 1px solid #000 !important;

  background-color: #575454 !important;
  color: #fff !important;
}


.form-control:focus {
  -webkit-box-shadow: inherit !important;
  box-shadow:inherit !important;
}

label{
  font-size: 13px;
}

.bg-gradient-menu{
  background-color: #575454 !important;
}

.bt-default{
  background-color:#333; padding: 0.25em 0.4em;
}

.bt-danger{
  background-color:#F60A0A; padding: 0.25em 0.4em;
}

.bt-warning{
  background-color:#F6CE07; padding: 0.25em 0.4em;
  color: #000;
}

table#itens_nota{
  font-family: courier new !important;
  border:1px dashed #9F9999 !important;
  border-collapse: collapse;
  background-color: #F3ECC7 !important;
}

table#itens_nota td{
  /* border-bottom:1px dashed #9F9999 !important; */
  border: 1px dashed #cccccc;
  /* border-bottom-style:  !important;
  border-bottom-color:  !important; */
}


.sidebar .nav-item .nav-link {
    text-align: center !important;
    padding: 2rem !important;
}

.badge {
    border-radius: -0.65rem !important;
    font-weight: none !important;
}
