@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-tfn1vp');
	src:url('../fonts/icomoon.eot?#iefix-tfn1vp') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-tfn1vp') format('woff'),
		url('../fonts/icomoon.ttf?-tfn1vp') format('truetype'),
		url('../fonts/icomoon.svg?-tfn1vp#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-file:before, .icon-camera:before, .icon-check:before, .icon-device-desktop:before, .icon-file-text:before, .icon-hourglass:before, .icon-plus:before, .icon-image:before, .icon-book:before, .icon-copy:before, .icon-search:before, .icon-key:before, .icon-lock:before, .icon-remove:before, .icon-switch:before, .icon-signup:before, .icon-list:before, .icon-eye:before, .icon-checkmark:before, .icon-enter:before, .icon-user:before, .icon-user-add:before, .icon-clipboard:before, .icon-bars:before, .icon-erase:before, .icon-help:before, .icon-warning:before, .icon-text:before, .icon-pictures:before, .icon-arrow-left:before, .icon-arrow-down:before, .icon-arrow-up:before, .icon-arrow-right:before, .icon-arrow-left2:before, .icon-arrow-down2:before, .icon-arrow-up2:before, .icon-uniE615:before{	
	cursor: pointer;	
}

.icon-file:before {
	content: "\e61a";
}
.icon-camera:before {
	content: "\e619";
}
.icon-check:before {
	content: "\f03a";
}
.icon-device-desktop:before {
	content: "\f27c";
}
.icon-file-text:before {
	content: "\f011";
}
.icon-hourglass:before {
	content: "\f09e";
}
.icon-plus:before {
	content: "\f05d";
}
.icon-image:before {
	content: "\e61b";
}
.icon-book:before {
	content: "\e61c";
}
.icon-copy:before {
	content: "\e616";
}
.icon-search:before {
	content: "\e600";
}
.icon-key:before {
	content: "\e601";
}
.icon-lock:before {
	content: "\e602";
}
.icon-remove:before {
	content: "\e603";
}
.icon-switch:before {
	content: "\e604";
}
.icon-signup:before {
	content: "\e605";
}
.icon-list:before {
	content: "\e606";
}
.icon-eye:before {
	content: "\e607";
}
.icon-checkmark:before {
	content: "\e618";
}
.icon-enter:before {
	content: "\e608";
}
.icon-user:before {
	content: "\e609";
}
.icon-user-add:before {
	content: "\e60a";
}
.icon-clipboard:before {
	content: "\e61d";
}
.icon-bars:before {
	content: "\e60b";
}
.icon-erase:before {
	content: "\e617";
}
.icon-help:before {
	content: "\e60c";
}
.icon-warning:before {
	content: "\e60d";
}
.icon-text:before {
	content: "\e61e";
}
.icon-pictures:before {
	content: "\e61f";
}
.icon-arrow-left:before {
	content: "\e60e";
}
.icon-arrow-down:before {
	content: "\e60f";
}
.icon-arrow-up:before {
	content: "\e610";
}
.icon-arrow-right:before {
	content: "\e611";
}
.icon-arrow-left2:before {
	content: "\e612";
}
.icon-arrow-down2:before {
	content: "\e613";
}
.icon-arrow-up2:before {
	content: "\e614";
}
.icon-uniE615:before {
	content: "\e615";
}
.icon-sign-in:before {
	content: "\f036";
}
.icon-sign-out:before {
	content: "\f032";
}
.icon-flame:before {
	content: "\f0d2";
}
.icon-shield:before {
	content: "\e621";
}