.wrapLogin{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 250px;
  height: auto;
  transition: margin 0.25s;
  -moz-box-shadow: 0 0 100px 0px rgb(221, 221, 221);
  padding: 10px;
  margin-top: -168px;
  margin-left: -134px;
}

.copy {float:right;font-weight: bold; font-size: 11px;margin:0 12px 20px 0}
#mensagemAlerta, #mensagemAlertaAjax{
  position: absolute;
  left: 50%;
  top: 10%;
  height: auto;
  width: 450px;
  margin-left: -225px;
}
a {
  color: #16A085;
}
a:hover {
  color: #1ABC9C;
  text-decoration: none;  
}
.close{
  color: #95A5A6;
}
.close:hover{
  color: #7F8C8D;
}