#conteudo{
	margin: 0 auto;
	width: 980px;
}
.rotate {
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
     -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
      -ms-transform: rotate(-90.0deg);  /* IE9+ */
       -o-transform: rotate(-90.0deg);  /* Opera 10.5 */  /* Safari 3.1+, Chrome */
  -webkit-transform: rotate(-90.0deg);  /* Standard */
       		transform: rotate(-90.0deg);
       		height: 200px;
}
.rotate div {
	position: relative;
	text-align: center;
	width: 26px;
	left: -60px;
}
.backBlue{
	background: rgb(167, 219, 248)
}
.backGreen, .subTitleList{
	background: rgb(145, 224, 145)
}
.backGreen2{
	background: #396650;
	color: #fff;
}
.backPurple{
	background: rgb(219, 169, 219)
}
.backBrown{
	background: rgb(223, 198, 175)
}
.backGrey{
	background: grey;
	color: #fff;
}
/*Relatório cabeçalho*/
.relHeader, .relGridAnalise h3 {
	text-align: center;
}s
.relHeader h3, .relGridAnalise h3 {
	font-weight: bold;
	color: #396650;
	padding: 0 0 20px 0;	
}
/*Relatório conteudo*/
section>legend{
	border-top: 1px solid #ccc;
	border-bottom: none;
	padding: 20px 0 0 0
}
section {
	padding: 10px 0;
}
/*Relatório localização e layout*/
.relLocalLayout{
	position: relative;	
}
.relLocalLayout img, .relFotoInventario img{
	width: 100%;
	height: 350px;
}
span.icon-image{
	position: absolute;
	left: 47%;
	top: 38%;
	font-size: 64pt;
	color: #ddd;
}
/*Relatório foto do inventário*/
.relFotoInventario img{
	height: 225px;
}

/*Relatório grid de analise*/
table.gridAnalise thead{
	background: #fff;
}
table.gridAnalise thead th{
	text-align: center;
	white-space: nowrap;
	padding: 8px 15px;
	border: 1px solid #ddd;
}
table.gridAnalise td{
	border: 1px solid #ddd;
}

/*========================================*/
.titleList{
	background: #ddd;
	font-weight: bold;
}
.titleList, .subTitleList, .item, .subItem{
	display: flex;
}
.item{
	background: #f7f7f7;
}
.box, .box15{
	flex: auto;
	width: 25%;
	display: block;
	padding: 8px 15px;
}
.box15{
	width: 15%;
}
/*.box.space{
	background: #fff;
}*/