*{
    outline: none;
}

/* NAVBAR CUSTOM */
.navbar-nav a, th{
    color: #fff;
}
.navbar-nav a:hover, .dropdown.open a{
    color: #333;
}
.navbar-green{
    background-color: #F9872E;
    
	/*background-image: linear-gradient( to right, #FFCB3B,#FF9201,#FFCB3B);*/
	
    /*border-color: #7c5424;  
    background-image: linear-gradient( to right, #f4781c,#fcb707,#f4781c);
    color: #7c5424;*/
}
.navbar-nav>li>a {
    text-align: center;
}
ul.navbar-nav>li>a>span{
    font-size: 18px;
}
ul.navbar-nav>li>a>span.hideMenu{
    font-size: 14px;
}
/* NAVBAR CUSTOM @1024 */
@media (max-width: 1024px) {  
    .navbar-nav>li>a>span.hideMenu{
        display: none;
        opacity: 0;
        transition: 0.2s;    
    }
    .navbar-nav>li>a{
        padding: 30px 20px 10px 20px;
    }
    .container{
        width: 100%;
    }
}
/* ~USER INFOMATION / COMPANY / WORKGROUP / NAME */
.userInfo{
    text-align: right;
}

.userInfo span{
    display: block;
    line-height: 1;
    font-size: 10px;
    padding: 1px 12px;
}

#gruposUsuarios{
  float: left;
  display: inline;
  width: 200px;
}

.userImagem {
    text-align: right;
    float: right;
    margin: 5px; 
}

/* CUSTOM ICONS*/
.icon-shield.green, .icon-shield.red{
    color: #82B623;
    font-size: 14pt;
    text-align: center;
}
.icon-shield.red{
    color: red
}
a.icon-eye, a.icon-pictures, a.icon-remove{
    font-size: 14pt;
    color: #16A074!important;
    margin: 0 5px;  
}
a.icon-eye{
    color: #0D62CF!important
}
a.icon-pictures{
    color: #699C0F!important;
}
a.icon-remove{
    color: gray!important
}
article{
    margin: 70px 0 0 0;
}
table thead {
    /*background: #16A074;*/
    /*background: #263c53;*/
	background: #ACC310;
}
table.addOptions thead{
    background: #DDD;
}
table.addOptions thead th{
    color: #333;
}
table a:not(.btn), .table a:not(.btn) {
    text-decoration: none;  
    color: #fff
}
table a:hover {  
    cursor: default; 
}
#areaBusca{
    display: none;
}
label, li, td {
    /*color: #64462C;*/
	color: #000;
	font-weight:bold;
}

.alert{
    width: 50%;
    margin: 20px;
    background-color: rgb(255, 213, 0);
    color: #000;
}
.page-error h1{
    font-size: 200px;
    margin: 0.67em 0 0 0;
    text-align: center;
}
.wrapForm{
    padding: 20px;
}
.tituloPagina{
    font-size: 1.5em;
    font-weight: bold;
    position: relative;
}

.table{
    margin-bottom: 0;
    font-size: 13px;  
}
.table>tbody>tr>td,.table>thead>tr>th{
    font-size: 13px;
    cursor: pointer;
    vertical-align: middle;
}
.table>thead>tr>th{ 
    vertical-align: middle;
    cursor: default;
    font-size: 14px;
}
.summary{
    padding: 15px 10px;
}
ul.pagination{
    margin: -10px 10px 0 0;
}
.pagination>.active>a{
    background: #D51E30;
    border-color: #C41C2D;
}
.pagination>.active>a:hover{
    background: #D51E30;
    border-color: #C41C2D;
}
.wrap{
    margin-top: 100px;  
}
.panel-footer{
    text-align: right;
}
.select-options{
    padding: 5px;  
}
.select-options input{
    margin-right: 5px; 
}
.contentBD{
    padding: 6px 12px;
    display: block;
    color: #9C9C9C;
}
.toolbar {
    position: absolute;
    right: 8px;
    top: 8px;  
}
.toolbar ul li{
    list-style-type: none;
    float: left;
    margin: 0 10px  0 0;
}
.toolbar ul li:last-child{
    margin: 0;
}
.toolbar span{
    font-size: 18px;
}
.table.catMaquina>tbody>tr>td{
    padding: 0px 10px;
    vertical-align: middle;
}
.table.catMaquina>tbody>tr>td p{
    margin-bottom: 0; 
}
td.button-column a.visualizar{
    color: blue;
    font-size: 18px;
}

.bola1, .bola2, .bola3{
    width: 18px;
    height: 18px;
    border-radius: 50px;
    background: #16A074;
    float: left;
    margin: 0 20px 0 0;
}
.bola2{
    width: 10px;
    height: 10px;
    margin: 4px 24px 0 4px;  
}
.bola3{
    width: 22px;
    height: 22px;
    background: none;
    border: 1px solid #333;
    margin: 0px 18px 0 -2px;
}
.pagination{
    margin: 20px 0 10px 0;
}
input.boxRadio[type="radio"]{
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: normal;
    margin: 0!important;
    opacity: 0;
}
input.boxRadio[type="radio"] + .radio:before {
    height: 10px;
    line-height: 0px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    min-width: 24px;
    display: inline-block;
    color: #32A3CE;  
    content: " ";
    font-family: icomoon;  
}
div.radio{
    display: inline-block;
    margin-left: 15px;
}
input.boxRadio[type="radio"] + .radio:before {
    padding: 0;
    margin: 0;
}

input.boxRadio[type="radio"]:checked + .radio:before {
    content: "\f03a";
    display: inline-block;
    color: #fff;
}
.modal-dialog{
    width: 1000px;
}
.modal-header{
    font-weight: bold;  
    background: #f7f7f7;
}
.icon-search, .icon-plus{
    font-size: 14pt;
    height: 40px;
    width: 40px;
    text-align: center;
}
.btnChange{
    padding: 0;
    font-size: 14pt;
    text-decoration: none!important;
    width: 32px;
    margin: 3px 0 0 -20px;
    color: gray;
    border-width: 0;
    border: none;  
}
.btnChange:hover{
    border-width: 0!important;
    margin: 3px 0 0 -20px;
    color: #16A074;
}
.btnChange:focus{
    outline: none!important;
}
dl.legenda dt{
    width: 32px; 
}
dl.legenda dd{
    margin-left: 32px;
    line-height: 2;  
}
dl.legenda dt>span{
    width: 24px;
}
.rotate div {
    position: absolute;
}
.rotate {
    -moz-transform: rotate(-90deg);
    writing-mode: bt-rl;

    text-align: center;
    /*line-height: 14px;*/
    vertical-align: middle;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    height: 200px!important;
    -webkit-transform: rotate(-90deg);
    line-height: 14px;
    border: 1px solid #333;
    /*text-overflow: ellipsis;*/    
}
.gridAnalise th.title{
    text-align: center;
    padding: 8px;
}
/* DASHBOARD*/
.backBody{
    background: url(../img/aaa.jpg) center center no-repeat;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    opacity: 0.2;
}
.right {
    float: right;
}
.left {
    margin-right: 5px;
}
.grid {
    max-width: 1300px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
    position: absolute;
}
.grid li {
    display: inline-block;
    width: 20%;
    margin: 0;
    padding: 10px;
    text-align: left;
    position: relative;
}
.grid figure {
    margin: 0;
    position: relative;
    border: 2px solid;
}
.grid figure img {
    max-width: 100%;
    display: block;
    position: relative;
}
.grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    color: #fff;
    text-align: justify;
}
.grid figcaption h3 {
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-weight: 800;
    font-size: 20px
}

.grid figcaption a {
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    color: #fff;
}
.grid figcaption span {
    margin-top: 5px
}
.panel.panel-default.dashboard{
    border: none;
    border-width: 0;
    background-color: transparent;
}

/*one trial*/
ul.cs-style {
    margin-top: 314px;
    margin-left: -300px;
    margin-right:0
}
.cs-style li {
    perspective: 1700px;
    perspective-origin: 0 50%;
}
.cs-style figure {
    transform-style: preserve-3d;
}
.cs-style figure > div {
    overflow: hidden;
}
.cs-style figure img {
    transition: transform 0.6s;
}
.cs-style figure:hover img{
    transform: translateX(100%);
}
.cs-style figcaption {
    height: 100%;
    width: 100%;
    opacity: 0;
    backface-visibility: hidden;
    transform-origin: 0 0;
    transform: rotateY(-90deg);
    transition: transform 0.5s, opacity 0.2s 0.4s;
}
.cs-style figure:hover figcaption{
    opacity: 1;
    transform: rotateY(0deg);
    transition: transform 0.5s, opacity 0.2s;
}
.cs-style figcaption a {
    position: absolute;
    bottom: -5px;
    right: 42px;
}
.yellow figcaption {
    background: #efc84a;
}
.yellow  figure{
    border-color: #efc84a;
}
.yellow figcaption a{
    background: #dcb33e;
}
.blue figcaption {
    background: #6090ab;
}
.blue  figure{
    border-color: #6090ab;
}
.blue figcaption a{
    background: #59859e;
}
.purple figcaption {
    background: #674172;
}
.purple  figure{
    border-color: #674172;
}
.purple figcaption a{
    background: #56375e;
}
.orange figcaption {
    background: #ff9933;
}
.orange  figure{
    border-color: #ff9933;
}
.orange figcaption a{
    background: #ed8e2f;
}
.green figcaption {
    background: #03a678;
}
.green  figure{
    border-color: #03a678;
}
.green figcaption a{
    background: #05996f;
}

.conteudo{
    position: relative  ;
}
.grid ul li {
    position: relative;
}
/*link*/
nav a {
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
}

nav a:hover,
nav a:focus {
    outline: none;
}
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.cl-effect a {
    text-shadow: 0 0 1px rgba(111,134,134,0.3);
}
a:hover, a:focus {
    text-decoration: none;
}

.cl-effect a::before {
    color: #fff;
    content: attr(data-hover);
    position: absolute;
    opacity: 0;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    -webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    -moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
}

.cl-effect a:hover::before,
.cl-effect a:focus::before {
    -webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
    -moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
    transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
    opacity: 1;
}
.blocoNr12{
    width: 32.5%;
    height: 500px;
    background: #333;
}

/*.lineStatusOk{
        color:green;
}

.lineStatusPendente{
        font-size:18px;
}*/


tr.green td
{
	color:#1A9900;
	font-weight:bold;
}
tr.red td
{
	color:#FF1F1F;
	font-weight:bold;
}
tr.black td
{
    color:#000000;
}

/*Recibo*/


#recibo{
padding: 5px;
}

#recibo_conteudo{
border: 2px solid #efefef;
padding: 5px;
border-radius:4px;
width: 800px;
}

#recibo_head{
  display: inline-block;
  /*background: #efefef;*/
  width: 100%;
  height: auto;

}

#recibo_logo{
float:left;
width:200px; 
height:60px;
text-align:center;
vertical-align: middle;

}

#recibo_logo img{
width:90%; 
height:80%;
border: 0px;

}

#recibo_titulo{
float:left;
width:30%;
/*background: aqua;*/
height:auto;
}

#recibo_titulo span{
margin-left:50px;
}

#recibo_valor{
float:left;
width:30%;
/*background: #FFCC99;*/
height:auto;
}

.recibo_titulo{
font-size:20px;
font-weight:bold;
}

.recibo_caixa{
font-weight:bold;
border: 1px solid #ededed;
border-radius:4px;
padding:5px;
}


/* RELATORIO */

.relatorio_area{
/*background-color: #EDEDED;*/
padding:2px;
/*border: 2px solid;*/
width: 950px;
}


#relatorio_head{
/*background-color: yellow;
border: 2px solid;*/
padding:4px;
width:100%;
display: inline-block;
}


#relatorio_logo{
/*background-color: red;
border: 2px solid;*/
float:left;
display: inline-block;
padding:2px;
width:60%;
}

#relatorio_logo_img{
width:40%;
float:left;
vertical-align: middle;
}

#relatorio_logo_texto{
width:60%;
float:left;
font-size:10px;
font-weight:bold;
}

#relatorio_informacoes{
/*background-color: aqua;
border: 2px solid;*/
float:left;
padding:2px;
width:40%;
text-align:right;
}

#relatorio_titulo{
padding:2px;
width:100%;
font-size:20px;
font-weight:bold;
text-align:center;
}



#relatorio_caixa{
padding:4px;
font-size:16px;
font-weight:bold;
color: #0000ff;
/*background:#f0f0f0;*/
width:100%;
text-decoration:underline;
}

#relatorio_conta_contabil{
padding:4px;
font-size:14px;
font-weight:bold;
color: #333;
text-decoration:underline;
}

#relatorio_entradas{
padding:4px;
font-size:14px;
font-weight:bold;
color: #008000;
}

#relatorio_saidas{
padding:4px;
font-size:14px;
font-weight:bold;
color: #ff0000;
}


#relatorio_subtotal{
/*margin-right:176px;*/
margin-right:21px;
font-size:14px;
text-align:right;
}

#relatorio_subtotal1{
margin-right:21px;
font-size:14px;
text-align:right;
font-weight:bold;
}


#relatorio_total{
margin-right:50px;
font-size:18px;
font-weight:bold;
text-align:right;
}


#relatorio_footer{
display:inline-block;
border:1px solid #333;
width:100%;
padding:10px;
}

#footer1{
float:left;
width:50%;
font-size:18px;
font-weight:bold;
text-align:right;
}


#footer2{
float:left;
width:50%;
font-size:18px;
font-weight:bold;
text-align:right;
}


